.App {
  
}

.answers-container{
  display:flex;
margin-top: 1px;
 height: 285px;

}
.result-container{
  margin-left: 10%;
  display: flex;
}
.result-corect{
 
  color: rgb(81, 243, 81);
}

.result-false{

color: red;
}
.answers{
  color: black;
  width: 33.33%;
  height: 100%;
  cursor: pointer;
  display: flex;
  font-size: 30px;
    display: table-cell;/* IE8+ */
    vertical-align: middle;
    text-align:center;
}
.block{
  height:450px;
  width:100%;

}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
